@model MySite.Models.Employee

<table border="1" style="margin:0px auto;width:240px">
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.EmployeeId)</b></td>
        <td><b>@Html.DisplayTextFor(model => model.EmployeeId)</b></td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.EmployeeName)</b></td>
        <td><b>@Html.DisplayTextFor(model => model.EmployeeName)</b></td>
    </tr>
    <tr>
        <td><b>@Html.DisplayNameFor(model => model.Salary)</b></td>
        <td><b>@Html.DisplayTextFor(model => model.Salary)</b></td>
    </tr>
</table>